@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.main-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8b79c4;
  min-height: 100vh;
  padding: 15px;
  font-family: "Poppins", sans-serif;
}

.inner_container {
  display: flex;
  overflow: hidden;
}

/* Left Side (1/3) */
.left-Container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0%;
}

.logo img {
  width: 150px;
  object-fit: contain;
  margin-bottom: 20px;
}

.login-form {
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.login-form-section h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 0px;
  color: #FFFFFF;
}

.login-form-section p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 13px;
  font-weight: 100;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.login-form-group {
  margin-bottom: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.login-input::placeholder {
  font-family: 'Poppins', sans-serif;
  color: rgba(30, 30, 30, 0.8);
  font-size: 13px;
}

.login-form-group label {
  display: block;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 5px;
  color: #F3F3F3;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.input-icon1 {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
  transition: color 0.3s ease;
}

.input-icon1:hover {
  color: #555;
}

.login-input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background: #ffffff;
  color: #1E1E1E;
  border: 1px solid #D9D9D9;
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
}

.login-input:focus {
  outline: none;
}

.input-error {
  border: 2px solid #ff4d4f !important;
  background: #ffecec;
}

.login-options {
  width: 90%;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #F3F3F3;
  margin: 10px 15px;
  gap: 10px;
}

.login-remember-me input {
  accent-color: white;
}

.login-forgot-password a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-forgot-password a:hover {
  text-decoration: underline;
}

.login-submit-btn {
  width: 90%;
  padding: 12px;
  background-color: #E9B342;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  transition: 0.3s;
  margin: 30px auto 0;
  display: block;
}

.login-signup-link {
  margin-top: 40px;
  text-align: center;
}

/* Right Side (2/3) */
.login-image-section {
  flex: 2;
  overflow: hidden;
}

.login-image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

@media (max-width: 900px) {
  .inner_container {
    flex-direction: column;
    height: auto;
  }

  .left-Container,
  .login-image-section {
    flex: none;
    width: 100%;
  }

  .login-image-section {
    height: 250px;
    display: none;
  }
}

/* sm (640px) */
@media (min-width: 640px) {
  .login-form {
    padding: 20px 20px;
  }

  /* .login-image-section {
    display: none; 
  } */
}

/* md (768px) */
@media (min-width: 768px) {
  .inner_container {
    flex-direction: column;
    /* still column */
  }

  /* .login-image-section {
    display: none; 
  } */
  .login-form {
    padding: 20px 0px;
  }
}

@media (min-width: 1024px) {
  .inner_container {
    flex-direction: row;
  }

  /* .login-image-section {
    display: block;
    height: auto;
  } */
  .login-image-section {
    flex: 1.3;
    overflow: hidden;
    /* padding: 20px; */
  }

  .login-form {
    padding: 20px 20px;
  }

  .login-form-section h1 {
    font-size: 32px;
  }
}

/* xl (1280px) */
@media (min-width: 1280px) {
  .main-Container {
    padding: 30px;
  }

  .inner_container {
    gap: 20px;
  }

  .login-image-section {
    flex: 2;
    overflow: hidden;
  }

  .login-image-section img {
    border-radius: 45px;
  }
}

/* 2xl (1536px) */
@media (min-width: 1536px) {
  .inner_container {
    max-width: 1500px;
    margin: auto;
  }

  .login-form {
    padding: 30px 40px;
  }

  .login-form-section h1 {
    font-size: 36px;
  }

  .login-image-section img {
    border-radius: 50px;
  }
}