@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Main container */
.signup-main-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8b79c4;
  min-height: 100vh;
  padding: 15px;
/* font-family: "Poppins", sans-serif; */
}

.login-form-section h1 {
  margin-bottom: 10px;
}

/* Inner container */
.signup-inner_container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

/* Left Side (Form) */
.signup-left-Container {
  flex: 1.1;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.signup-logo img {
  width: 150px;
  object-fit: contain;
  margin-bottom: 20px;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.input-icon {
  position: absolute;
  top: 69%;
  right: 12px;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 10;
}

.input-icon:hover {
  color: #555;
}

/* Form section */
.signup-form {
  margin-top: 10px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 10px;
}

.signup-form-section h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 5px;
  color: #FFFFFF;
}

.signup-form-section p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 13px;
  font-weight: 100;
  font-style: normal;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
}

/* Form groups */
.signup-form-group {
  margin-bottom: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.signup-form-group label {
  display: block;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 5px;
  color: #F3F3F3;
}

.signup-input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  color: #1E1E1E;
  background: #ffffff; 
  border: 1px solid #D9D9D9;
  font-size: 1rem;
  display: block;
  margin: 0 auto;

}

.signup-input::placeholder {
  font-family: 'Poppins', sans-serif;
  color: rgba(30, 30, 30, 0.8);
  font-size: 13px;
}

.signup-input:focus {
  outline: none;
}

.input-error {
  border: 2px solid #ff4d4f !important;
  background: #ffecec;
}

/* Options like remember me, etc. */
.signup-options {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #F3F3F3;
  margin: 5px 0 10px;
  gap: 10px;
}

.signup-remember-me input {
  accent-color: white;
  background: #FFFFFF;
}

.signup-forgot-password a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.signup-forgot-password a:hover {
  text-decoration: underline;
}

/* Submit button */
.signup-submit-btn {
  width: 90%;
  padding: 12px;
  background-color: #E9B342;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  font-size: 12px;
  border-radius: 8px;
  margin: 30px auto 0;
  display: block;
}

/* Sign-in link below form */
.signup-login-link {
  margin-top: 20px;
  text-align: center;
}

/* Right Side (Image) */
.signup-image-section {
  flex: 1.9;
  overflow: hidden;
}

.signup-image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

/* Responsive */
@media (max-width: 900px) {
  .signup-inner_container {
    flex-direction: column;
    height: auto;
  }

  .signup-left-Container,
  .signup-image-section {
    flex: none;
    width: 100%;
  }

  .signup-image-section {
    height: 250px;
  }
}

@media (min-width: 768px) {
  .signup-form{
      padding: 20px 70px;
  }
}
@media (min-width: 900px) {
  .signup-image-section {
  flex: 0.9;
  overflow: hidden;
  padding: 20px;
}
}

@media (min-width: 1024px) {
  .signup-form{
    padding: 20px 20px;
  }
  .signup-image-section {
  flex: 1.3;
  overflow: hidden;
  padding: 20px;
}
}

@media (min-width: 1280px) {
  .signup-form{
      padding: 20px 50px;
  }
  .signup-image-section {
  flex: 1.9;
  overflow: hidden;
  /* padding: 20px; */
}
}